.Search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.Search select {
  width: 320px;
  background-color: rgb(133, 131, 202);
  border: none;
  color: #222;
  height: 40px;
  border-radius: 15px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding: 0 5px 0 5px;
}
